<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControladorPrincipal</servlet-name>
        <servlet-class>paquete.ControladorPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistro2</servlet-name>
        <servlet-class>paquete.ControladorRegistro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReserva</servlet-name>
        <servlet-class>paquete.ControladorReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDesReserva</servlet-name>
        <servlet-class>paquete.ControladorDesReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorcambiaregistro2</servlet-name>
        <servlet-class>paquete.controladorcambiaregistro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTodosModificar</servlet-name>
        <servlet-class>paquete.ControladorTodosModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBorrarUsuario</servlet-name>
        <servlet-class>paquete.ControladorBorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHorarios</servlet-name>
        <servlet-class>paquete.ControladorHorarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorPrincipal</servlet-name>
        <url-pattern>/ControladorPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistro2</servlet-name>
        <url-pattern>/ControladorRegistro2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReserva</servlet-name>
        <url-pattern>/ControladorReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDesReserva</servlet-name>
        <url-pattern>/ControladorDesReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorcambiaregistro2</servlet-name>
        <url-pattern>/controladorcambiaregistro2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTodosModificar</servlet-name>
        <url-pattern>/ControladorTodosModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBorrarUsuario</servlet-name>
        <url-pattern>/ControladorBorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHorarios</servlet-name>
        <url-pattern>/ControladorHorarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
